.timer {
    display: flex;
    gap: 8px;
    margin-top: 8px;
}

.field {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.value {
    font-size: 24px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 250px;
    gap: 8px;

}

.delay-input {
    width: 100%;
    height: 25px;
    margin-top: 8px;
    padding: 0;
    box-sizing: border-box;
}

.state-fieldset {
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 50px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.delay-label {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}